<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <%- include('include/Header')%>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      @import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
      @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
    </style>
    <link
      rel="stylesheet"
      href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css"
    />
    <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
    <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>
  </head>
  <body>
    <!-- Navbar -->

      <% if(flag){%>
    </div>
    <header class="site-header" id="header">
      <span class="site-header__title" data-lead-id="site-header-title">
        THANK YOU! <br /><%- name.split(" ")[0] %>
      </span>
    </header>

    <div class="main-content">
      <i
        class="fa fa-check text-danger main-content__checkmark"
        id="checkmark"
      ></i>

      <p class="main-content__body" data-lead-id="main-content-body">
        I consider myself truly lucky to have a co-worker like you. It is great
        working with you on any given day and personally, I have learned so much
        in this company. Thank you.
      </p>
    </div>
    <% }else{%>
    <div class="py-5">
      <header class="site-header py-5" id="header">
        <span class="site-header__title" data-lead-id="site-header-title">
        </span>
      </header>

      <i class="fa fa-hand-o-down text-danger main-content__checkmark py-5"></i>

      <p class="main-content__body pb-5" data-lead-id="main-content-body">
        Already Record Saved ! <br /><span class="text-danger"
          ><%- name.split(" ")[0] %></span
        >
      </p>
      <p>Thank You!</p>
    </div>
    <% }%>
  </body>
</html>
