<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Testing</title>
  </head>
  <body>
    <% Time = to12Hours("16:01") %> <%-
    include('include/TimeCovnertor',{Time:Time})%>

    <br />
    <!--  -->

    <!--  -->
    <br />
  </body>
</html>
